    <div class="row ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success">
                    Client List
                </div>
                <div class="card-body">
                    <table class="table table-bordered my-4">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Company Name</th>
                                <th>Person Name</th>
                                <th>Contact No</th>
                                <th>City</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of clientList; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.city}}</td>
                                    <td class="col">
                                        <button class="btn btn-primary"(click)="onEdit(item)">✏️Edit</button>
                                        <button class="btn btn-danger" (click)="onDelete(item.clientId)">🗑️Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success">
                    New Client
                </div>
                <div class="card-body">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-6">
                                <label>Person Name</label>
                                <input type="text" #personName="ngModel" required minlength="5" name="contactPersonName" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                                @if(personName.touched) {
                                    <div class="text-danger">
                                        @if(personName?.errors?.['required']){ 
                                            <span> 🚩 This Is Required</span>
                                        }
                                        @if(personName?.errors?.['minlength']){
                                            <span> 🚩 Min Length: 5 Characters</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label>Company Name</label>
                                <input type="text" name="companyName" [(ngModel)]="clientObj.companyName" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Contact No</label>
                                <input type="text" name="contactNo" [(ngModel)]="clientObj.contactNo" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>City</label>
                                <input type="text" name="city" [(ngModel)]="clientObj.city" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>State</label>
                                <input type="text" name="state" [(ngModel)]="clientObj.state" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Pincode</label>
                                <input type="text" name="pincode" [(ngModel)]="clientObj.pincode" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Address</label>
                                <input type="text" name="address" [(ngModel)]="clientObj.address" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Employee Strength</label>
                                <input type="text" name="employeeStrength" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Gst No</label>
                                <input type="text" name="gstNo" [(ngModel)]="clientObj.gstNo" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Reg No</label>
                                <input type="text" name="regNo" [(ngModel)]="clientObj.regNo" class="form-control">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 text-center">
                                <button class="btn btn-secondary" (click)="clearClientHandle()">Reset Client</button>
                            </div>
                            <div class="col-6 text-center">
                                <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                                    {{clientObj.clientId != 0 ? 'Update Client' : 'Save Client'}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
