<div class="row mx-4">
    <div class="col-8">
        <div class="card-header bg-success">
            Client List
        </div>
        <div class="card-body">
            <div class="col-12">
                <table class="table table-bordered my-4 "> 
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Company Name</th>
                            <th>Person Name</th>
                            <th>Contact No</th>
                            <th>Contact No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card-header bg-success">
            New Client
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for=""> contactPersonName </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> companyName </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> address </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> city </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> pincode </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> state </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> EmployeeStrength </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> gstNo </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> contactNo </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for=""> regNo </label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6 text-center">
            <button class="btn btn-secondary">Reset Client</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success">Save Client</button>
        </div>
    </div>
</div>