<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <p class="text-center bg-light text-dark fw-bold py-2 px-3 rounded shadow-sm w-auto mx-auto">
            admin&#64;gmail.com
          </p>
          <p class="text-center bg-light text-dark fw-bold py-2 px-3 rounded shadow-sm w-auto mx-auto">
            admin123
          </p>          
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" [(ngModel)]="loginObj.email" name="email" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example13">Email address</label>
            </div>
  
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" [(ngModel)]="loginObj.password" name="password" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example23">Password</label>
            </div>
            <button type="submit" (click)="onLogin()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </section>