<div class="row ">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <table class="table table-bordered my-4">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Company Name</th>
                            <th>Person Name</th>
                            <th>Contact No</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- @for (item of clientList; track $index) {
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{item.companyName}}</td>
                                <td>{{item.contactPersonName}}</td>
                                <td>{{item.contactNo}}</td>
                                <td>{{item.city}}</td>
                                <td class="col">
                                    <button class="btn btn-primary"(click)="onEdit(item)">✏️Edit</button>
                                    <button class="btn btn-danger" (click)="onDelete(item.clientId)">🗑️Delete</button>
                                </td>
                            </tr>
                        } -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                            <div class="text-danger">
                                @if(projectForm.controls['projectName']?.touched) {
                                    @if(projectForm.controls['projectName'].errors?.['required']) {
                                        <span> <span> 🚩 This Is Required</span></span>
                                    }
                                    @if(projectForm.controls['projectName'].errors?.['minlength']) {
                                        <span> 🚩 Min Length: 4 Characters</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected End Date</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text"  formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text"  formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text"  formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count</label>
                            <input type="text"  formControlName="totalEmpWorking" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="text"  formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="">Project Description</label>
                            <textarea   formControlName="projectDetails" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Select Client</label>
                            <select type="text"  formControlName="clientId" class="form-control">
                            @for(item of clientList; track item) {
                                <option [value]="item.clientId" >{{item.companyName}}</option>
                            }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select type="text"  formControlName="leadByEmpId" class="form-control">
                                <option> Select Employee </option>
                                @for(item of employeeList; track item) {
                                    <option [value]="item.empId" >{{item.empName}} - {{item.empCode}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" >Reset Client Project </button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="!projectForm.valid" (click)="onSaveProject()">
                                Save Client Project
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
